body {
    background-color: beige;
}

#header-div {
    background-color: grey;
    border-radius: 4px;
}

.nb-icon {              /*a*/
    color: black;
}

.sm-item {
    padding: 0px;
}

.sm-icon {
    display: block;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    padding: 30px;
}